@model IEnumerable<App.Models.Tax>

@{
    ViewData["Title"] = "Tax";
}

<h1>Taxas</h1>
@if (TempData["message"] != null)
{
    <h3>Erro na Ação Anterior</h3>
    <p>@TempData["message"]</p>
}

@foreach (var item in Model)
{
    <div class="InternalInfoBox">
        <p style="word-break: break-all; white-space:normal;">
            <strong>Nome da Taxa:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Name)<br />
            <strong>Sigla:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Initials)<br />
            <strong>Descrição:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Description)<br />
        </p>
        <div>
            <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary">Editar</button></a>
            <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Deletar</button></a>
        </div>
    </div>
    <br />
}