@model IEnumerable<App.Models.User>

@{
    ViewData["Title"] = "Users";
}
<div class="content_side">
    <h1>Usuários    <a asp-action="Create"><button class="btn btn-success">Cadastrar novo</button></a></h1>
    @if (TempData["message"] != null)
    {
        <h3>Erro na Ação Anterior</h3>
        <p>@TempData["message"]</p>
    }

    @foreach (var item in Model)
    {
        <div class="InternalInfoBox">
            <p style="word-break: break-all; white-space:normal;">
                <strong>Nome:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Name)<br />
                <strong>Email:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Email)<br />
                <strong>Cargo:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Position)<br />
                <strong>Tipo de acesso:&nbsp;</strong>@Html.DisplayFor(modelItem => item.UserLevel)<br />
            </p>
            <div>
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Deletar</button></a>
            </div>
        </div>
        <br />
    }
</div>