@model IEnumerable<App.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Usuários</h1>
@if (TempData["message"] != null)
{
    <h3>Erro na Ação Anterior</h3>
    <p>@TempData["message"]</p>
}

@foreach (var item in Model)
{
    <div class="InternalInfoBox">
        <p style="word-break: break-all; white-space:normal;">
            <strong>Nome do Agrotóxico:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Name)<br />
            <strong>Descrição:&nbsp;</strong>@Html.DisplayFor(modelItem => item.Email)<br />
            <strong>Descrição:&nbsp;</strong>@Html.DisplayNameFor(modelItem =>item.Position)<br />
            <strong>Nivel Tóxico:&nbsp;</strong>@Html.DisplayFor(modelItem => item.UserLevel)<br />
        </p>
        <div>
            <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary">Editar</button></a>
            <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Deletar</button></a>
        </div>
    </div>
    <br />
}